!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %meta{'name' => 'keywords', :content => "somekeywords"}/
    %title== the page title
    = stylesheet_link_tag "default", :cache=>true
    = yield :javascripts
  %body
    #main
      #head
        #top-menu
           =render_partial("menus/top_menu")
        #head-logo
          =link_to image_tag("logo_header.png",{:border=>"0"}), root_path;
        #main-menu
          =render_partial("menus/main_menu")
        #left-column
        left
      #right-column
        right      
      = yield :layout
      #footer
        =render_partial("menus/footer_menu")